@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.upLink {
  position: fixed;
  display: none;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.upSvg {
  width: 100%;
  height: 100%;
  fill: #969696;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.upSvg:hover,
.upSvg:focus {
  fill: #EC644B;
}

.upSvg:hover {
  -webkit-filter: drop-shadow(0 0 3px #ec644b);
          filter: drop-shadow(0 0 3px #ec644b);
}

.no-webp .preview {
  background: url("../img/mainbg.jpg") center center/cover no-repeat; }

.preview {
  min-height: 680px;
}

.preview__uptitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  opacity: 0;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.preview__uptitle.active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.preview__title {
  font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #EC644B;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  opacity: 0;
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.preview__title.active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all .8s ease-in-out .3s;
  -o-transition: all .8s ease-in-out .3s;
  transition: all .8s ease-in-out .3s;
}

.preview__subtitle {
  font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  color: #FFFFFF;
  margin-bottom: 38px;
}

.preview__subtitle.active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all .8s .6s;
  -o-transition: all .8s .6s;
  transition: all .8s .6s;
}

.preview__divider {
  width: 71%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.preview__divider-first,
.preview__divider-sec {
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: width .6s;
  -o-transition: width .6s;
  transition: width .6s;
}

.preview__divider-first.active,
.preview__divider-sec.active {
  width: 47%;
  -webkit-transition: width .6s .9s;
  -o-transition: width .6s .9s;
  transition: width .6s .9s;
}

.preview__divider-round {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  margin: 0 1%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.preview__divider-round.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .6s .9s;
  -o-transition: all .6s .9s;
  transition: all .6s .9s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}

.header__logo {
  display: block;
  margin-top: 23px;
}

.header__burger {
  display: none;
  position: relative;
  z-index: 50;
}

.header__burger::before,
.header__burger::after {
  content: '';
  background-color: #fff;
  width: 100%;
  position: absolute;
  height: 2px;
  left: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
}

.header__nav.active {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.header__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header__navItem {
  padding: 0 10px;
  position: relative;
}

.header__navItem:nth-child(1) {
  padding-left: 0;
}

.header__navItem:last-child {
  padding-right: 0;
}

.header__navItem:last-child:after {
  content: '';
  display: none;
}

.header__navItem::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 23px;
  width: 1px;
  background-color: #888b92;
}

.header__navLink {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-bottom: 1px solid transparent;
}

.header__navLink:hover {
  color: #EC644B;
  border-bottom: 1px solid #EC644B;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__questionText {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.header__questionTell {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
}

.btn {
  width: 160px;
  height: 45px;
  background-color: #ec644b;
  font-weight: 400;
  font-size: 12.0241px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn a {
  color: #fff;
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px #ec644b;
          box-shadow: 0 0 10px #ec644b;
}

.btn-about {
  width: 230px;
  height: 57px;
  font-weight: 700;
  font-size: 15.1433px;
  line-height: 18px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.btn-about.active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all .8s 1.4s;
  -o-transition: all .8s 1.4s;
  transition: all .8s 1.4s;
}

.btn-price {
  display: block;
  margin: 25px auto;
}

.btn-form {
  margin-left: 0;
  width: 180px;
}

.btn-questions {
  width: 180px;
  margin: 0 auto;
  margin-top: 16px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 38px;
}

.about__wrapper.active .about__block {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.about__wrapper.active .about__block:nth-child(1) {
  -webkit-transition: all .8s .8s;
  -o-transition: all .8s .8s;
  transition: all .8s .8s;
}

.about__wrapper.active .about__block:nth-child(2) {
  -webkit-transition: all 0.8s 1.4s;
  -o-transition: all 0.8s 1.4s;
  transition: all 0.8s 1.4s;
}

.about__wrapper.active .about__block:nth-child(3) {
  -webkit-transition: all 0.8s 1.7s;
  -o-transition: all 0.8s 1.7s;
  transition: all 0.8s 1.7s;
}

.about__wrapper.active .about__block:nth-child(4) {
  -webkit-transition: all 0.8s 2s;
  -o-transition: all 0.8s 2s;
  transition: all 0.8s 2s;
}

.about__block {
  width: 263px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-transform: translate(-70%, 0px);
      -ms-transform: translate(-70%, 0px);
          transform: translate(-70%, 0px);
  opacity: 0;
  /* transition: all .8s; */
}

.about__img {
  position: relative;
  height: 63px;
  width: 67px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.about__img img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about__descr {
  position: relative;
  font-weight: 300;
  font-size: 16.0222px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.about__descr:before {
  content: '\2713';
  position: absolute;
  left: 0;
  display: none;
  color: #EC644B;
  font-size: 30px;
  line-height: 30px;
}

.advantages {
  min-height: 590px;
  background: #F3F3F3;
  padding: 60px 0 40px;
}

.advantages__wrapper {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__wrapper.active .advantages__block {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.advantages__wrapper.active .advantages__block:nth-child(1) {
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  transition: all .8s .4s;
}

.advantages__wrapper.active .advantages__block:nth-child(2) {
  -webkit-transition: all 0.8s 0.6s;
  -o-transition: all 0.8s 0.6s;
  transition: all 0.8s 0.6s;
}

.advantages__wrapper.active .advantages__block:nth-child(3) {
  -webkit-transition: all 0.8s 0.8s;
  -o-transition: all 0.8s 0.8s;
  transition: all 0.8s 0.8s;
}

.advantages__wrapper.active .advantages__block:nth-child(4) {
  -webkit-transition: all 0.8s 1s;
  -o-transition: all 0.8s 1s;
  transition: all 0.8s 1s;
}

.advantages__wrapper.active .advantages__block:nth-child(5) {
  -webkit-transition: all 0.8s 1.2s;
  -o-transition: all 0.8s 1.2s;
  transition: all 0.8s 1.2s;
}

.advantages__wrapper.active .advantages__block:nth-child(6) {
  -webkit-transition: all 0.8s 1.4s;
  -o-transition: all 0.8s 1.4s;
  transition: all 0.8s 1.4s;
}

.advantages__wrapper.active .advantages__block:nth-child(7) {
  -webkit-transition: all 0.8s 1.6s;
  -o-transition: all 0.8s 1.6s;
  transition: all 0.8s 1.6s;
}

.advantages__wrapper.active .advantages__block:nth-child(8) {
  -webkit-transition: all 0.8s 1.8s;
  -o-transition: all 0.8s 1.8s;
  transition: all 0.8s 1.8s;
}

.advantages__block {
  position: relative;
  width: 40%;
  min-height: 78px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.advantages__svg {
  margin: 5px 23px 0 8px;
  width: 60px;
  height: 60px;
  fill: #969696;
}

.advantages__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #EC644B;
  margin-bottom: 10px;
}

.advantages__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #3A3A3A;
  width: 90%;
}

.title {
  font-weight: bold;
  font-size: 26px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #2E2E2E;
  opacity: 0;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  transition: all .8s .2s;
}

.divider {
  height: 1px;
  width: 148px;
  background-color: #ec644b;
  margin: 18px auto;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.divider.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  transition: all .8s .4s;
}

.subtitle {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  color: #2E2E2E;
  opacity: 0;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.subtitle.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  transition: all .8s .4s;
}

.work {
  min-height: 616px;
  padding: 60px 0;
}

.work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__wrapper.active .work__block {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.work__wrapper.active .work__block:nth-child(1) {
  -webkit-transition: all .8s .6s;
  -o-transition: all .8s .6s;
  transition: all .8s .6s;
}

.work__wrapper.active .work__block:nth-child(2) {
  -webkit-transition: all 0.8s 0.8s;
  -o-transition: all 0.8s 0.8s;
  transition: all 0.8s 0.8s;
}

.work__wrapper.active .work__block:nth-child(3) {
  -webkit-transition: all 0.8s 1s;
  -o-transition: all 0.8s 1s;
  transition: all 0.8s 1s;
}

.work__block {
  max-width: 340px;
  margin: 0 20px;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.work__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 210px;
}

.work__img img {
  width: 100%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.work__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #EC644B;
  margin-top: 25px;
}

.work__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #3A3A3A;
  margin-top: 10px;
}

.no-webp .agent {
  background: url("../img/agentbg.jpg") center center/cover no-repeat; }

.agent {
  min-height: 344px;
  padding: 58px 0 70px;
}

.agent__icon.active .agent__svg {
  opacity: 1;
  -webkit-transform: scale(1) translate(0px, 0px);
      -ms-transform: scale(1) translate(0px, 0px);
          transform: scale(1) translate(0px, 0px);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  transition: all .8s .2s;
}

.agent__svg {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  fill: #fff;
  margin-bottom: 19px;
  opacity: 0;
  -webkit-transform: scale(0.3) translate(0px, -300%);
      -ms-transform: scale(0.3) translate(0px, -300%);
          transform: scale(0.3) translate(0px, -300%);
}

.agent__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.agent__title.active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  transition: all .8s .4s;
}

.agent__descr {
  font-weight: 300;
  font-size: 19px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 990px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.agent__descr.active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .8s .6s;
  -o-transition: all .8s .6s;
  transition: all .8s .6s;
}

.prices {
  min-height: 956px;
  padding: 58px 0;
}

.prices__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 56px;
}

.prices__wrapper.active .prices__block {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.prices__wrapper.active .prices__block:nth-child(1) {
  -webkit-transition: all .8s .6s;
  -o-transition: all .8s .6s;
  transition: all .8s .6s;
}

.prices__wrapper.active .prices__block:nth-child(2) {
  -webkit-transition: all 0.8s 0.8s;
  -o-transition: all 0.8s 0.8s;
  transition: all 0.8s 0.8s;
}

.prices__wrapper.active .prices__block:nth-child(3) {
  -webkit-transition: all 0.8s 1s;
  -o-transition: all 0.8s 1s;
  transition: all 0.8s 1s;
}

.prices__wrapper.active .prices__block:nth-child(4) {
  -webkit-transition: all 0.8s 1.2s;
  -o-transition: all 0.8s 1.2s;
  transition: all 0.8s 1.2s;
}

.prices__block {
  width: 23%;
  border: 1px solid #e9e9e9;
  padding: 2px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.prices__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 61px;
  background: #25333C;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.prices__title div {
  margin: 0 auto;
}

.prices__svg {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  fill: #DC5238;
  margin-bottom: 20px;
}

.prices__deliv {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #2E2E2E;
}

.prices__pric {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  color: #EC644B;
  margin-bottom: 10px;
}

.prices__descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2E2E2E;
}

.prices__free {
  font-weight: 400;
  font-size: 28px;
  line-height: 23px;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 70px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.prices__free.active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  transition: all .8s .2s;
}

.prices__order {
  position: relative;
  min-height: 166px;
  border: 1px solid #c4c4c4;
  padding: 68px 14% 53px;
  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0.1;
}

.prices__order.active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  transition: all .8s .4s;
}

.prices__orderWrapper {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 10px solid #FFFFFF;
  border-radius: 100%;
  border-top: none;
  border-bottom: none;
}

.prices__orderSvg {
  position: relative;
  width: 102px;
  height: 102px;
  background: #fff;
  border: 1px solid #ec644b;
  border-radius: 100%;
}

.prices__orderSvg svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  fill: #ec644b;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  width: 31.9%;
  height: 45px;
  border: 1px solid #cbcbcb;
  border-radius: 25px;
  padding: 0 26px;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #101010;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.form__input:hover {
  -webkit-box-shadow: 0 0 5px #101010;
          box-shadow: 0 0 5px #101010;
}

.form__input:focus {
  border-color: #ec644b;
  -webkit-box-shadow: 0 0 5px #ec644b;
          box-shadow: 0 0 5px #ec644b;
}

.form__text {
  width: 100%;
  resize: none;
  min-height: 74px;
  margin-top: 8px;
  padding: 18px 25px 10px;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #616467;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.form__text:hover {
  -webkit-box-shadow: 0 0 5px #101010;
          box-shadow: 0 0 5px #101010;
}

.form__text:focus {
  border-color: #ec644b;
  -webkit-box-shadow: 0 0 5px #ec644b;
          box-shadow: 0 0 5px #ec644b;
}

.form__wrapdiv {
  position: absolute;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  border: 13px solid #fff;
  border-radius: 25px;
  border-bottom: none;
  border-top: none;
}

.no-webp .manager {
  background: url("../img/managerbg.jpg") center center/cover no-repeat; }

.manager {
  min-height: 342px;
  padding: 56px 0 74px;
}

.manager__svg {
  position: relative;
  width: 102px;
  height: 102px;
  border: 1px solid #fff;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 19px;
  opacity: 0;
  -webkit-transform: scale(0.3) translate(0px, -300%);
      -ms-transform: scale(0.3) translate(0px, -300%);
          transform: scale(0.3) translate(0px, -300%);
}

.manager__svg.active {
  opacity: 1;
  -webkit-transform: scale(1) translate(0px, 0px);
      -ms-transform: scale(1) translate(0px, 0px);
          transform: scale(1) translate(0px, 0px);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  transition: all .8s .2s;
}

.manager__svg svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  fill: #fff;
}

.manager__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.manager__title.active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  transition: all .8s .4s;
}

.manager__descr {
  font-weight: 300;
  font-size: 19px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 990px;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.manager__descr.active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .8s .6s;
  -o-transition: all .8s .6s;
  transition: all .8s .6s;
}

.chart {
  min-height: 457px;
  padding-top: 53px;
  background-color: #F3F3F3;
}

.chart__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #2E2E2E;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.chart__title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  transition: all .8s .2s;
}

.chart__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chart__row-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.chart__row.active .chart__block {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.chart__row.active .chart__block:nth-child(1) {
  -webkit-transition: all .8s .6s;
  -o-transition: all .8s .6s;
  transition: all .8s .6s;
}

.chart__row.active .chart__block:nth-child(2) {
  -webkit-transition: all 0.8s 0.8s;
  -o-transition: all 0.8s 0.8s;
  transition: all 0.8s 0.8s;
}

.chart__row.active .chart__block:nth-child(3) {
  -webkit-transition: all 0.8s 1s;
  -o-transition: all 0.8s 1s;
  transition: all 0.8s 1s;
}

.chart__row.active .chart__block:nth-child(4) {
  -webkit-transition: all 0.8s 1.2s;
  -o-transition: all 0.8s 1.2s;
  transition: all 0.8s 1.2s;
}

.chart__row.active .chart__block:nth-child(5) {
  -webkit-transition: all 0.8s 1.4s;
  -o-transition: all 0.8s 1.4s;
  transition: all 0.8s 1.4s;
}

.chart__row.active .chart__block:nth-child(6) {
  -webkit-transition: all 0.8s 1.6s;
  -o-transition: all 0.8s 1.6s;
  transition: all 0.8s 1.6s;
}

.chart__block {
  width: 23%;
  margin-bottom: 46px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.chart__svg {
  position: relative;
  height: 48px;
  margin-bottom: 12px;
}

.chart__svg svg {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #797979;
}

.chart__svg-xl svg {
  width: 80px;
  height: 80px;
}

.chart__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #EC644B;
  margin-bottom: 12px;
}

.chart__descr {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #3A3A3A;
}

.comment {
  min-height: 470px;
  padding: 45px 0 60px;
  overflow-x: hidden;
}

.comment__slider {
  position: relative;
}

.comment__slider-prev {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: calc(50% - 112px);
  width: 46px;
  height: 46px;
  cursor: pointer;
}

.comment__slider-prev svg {
  width: 46px;
  height: 46px;
  fill: #ed6951;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: fill .3s;
  -o-transition: fill .3s;
  transition: fill .3s;
}

.comment__slider-prev:hover svg {
  fill: #3A3A3A;
}

.comment__slider-next {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: calc(50% + 70px);
  width: 46px;
  height: 46px;
  cursor: pointer;
}

.comment__slider-next svg {
  width: 46px;
  height: 46px;
  fill: #ed6951;
  -webkit-transition: fill .3s;
  -o-transition: fill .3s;
  transition: fill .3s;
}

.comment__slider-next:hover svg {
  fill: #3A3A3A;
}

.comment__slider-wrapper {
  width: 33%;
  position: relative;
}

.comment__slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.comment__slider-inner.active {
  opacity: 1;
  -webkit-transition: all 1.8s .6s;
  -o-transition: all 1.8s .6s;
  transition: all 1.8s .6s;
}

.comment__slide {
  margin-right: 10px;
  margin-left: 30px;
  opacity: .3;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}

.comment__avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}

.comment__name {
  font-weight: 700;
  font-size: 17.9921px;
  line-height: 22px;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 15px;
}

.comment__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #3A3A3A;
}

.comment__mobile-next {
  display: none;
  position: absolute;
  width: 100px;
  height: 100%;
  top: 50%;
  right: -90px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 50;
  -webkit-tap-highlight-color: transparent;
}

.comment__mobile-next:hover:before,
.comment__mobile-next:hover:after {
  background-color: #3A3A3A;
}

.comment__mobile-next-rev {
  top: -50%;
  -webkit-transform: rotate(180deg) translateY(-50%);
      -ms-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
  left: -90px;
}

.comment__mobile-next:before {
  content: '';
  display: block;
  height: 50%;
  width: 2px;
  border-radius: 30%;
  background: #ed6951;
  -webkit-transform: rotate(-20deg) translateY(5.5px);
      -ms-transform: rotate(-20deg) translateY(5.5px);
          transform: rotate(-20deg) translateY(5.5px);
}

.comment__mobile-next::after {
  content: '';
  display: block;
  height: 50%;
  width: 2px;
  border-radius: 30%;
  background: #ed6951;
  -webkit-transform: rotate(20deg) translateY(-5.5px);
      -ms-transform: rotate(20deg) translateY(-5.5px);
          transform: rotate(20deg) translateY(-5.5px);
}

.active-slide {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}

.no-webp .questions {
  background: url("../img/questionsbg.jpg") center center/cover no-repeat; }

.questions {
  min-height: 440px;
  padding: 62px 0 79px;
}

.questions__block {
  min-height: 300px;
  width: 75%;
  margin: 0 auto;
  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);
  opacity: .1;
}

.questions__block.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  transition: all .8s .2s;
}

.questions__header {
  min-height: 71px;
  background: #25333C;
  color: #fff;
}

.questions__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

.questions__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
}

.questions__body {
  min-height: 229px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 18px 40px 25px;
}

.map__map {
  width: 100%;
  height: 503px;
  border: none;
}

.footer {
  min-height: 204px;
  padding: 20px 0 32px;
  background-color: #25333C;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 71px;
  height: 71px;
  cursor: pointer;
  margin-right: 44px;
}

.footer__title {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__questionText {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__questionTell {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__divider {
  height: 1px;
  background: #677177;
  margin: 26px 0 20px;
}

.footer__copyr {
  font-weight: 300;
  font-size: 13px;
  color: #FFFFFF;
}

.footer__confid {
  font-weight: 300;
  font-size: 13px;
}

.footer__confid a {
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.footer__confid a:hover {
  color: #EC644B;
  border-bottom: 1px solid #EC644B;
}

.footer__create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__createText {
  font-weight: 300;
  font-size: 13px;
  color: #FFFFFF;
  margin-right: 10px;
}

.footer__createIcon {
  width: 32px;
  height: 32px;
  fill: #fff;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 25px;
  }

  .preview {
    min-height: 740px;
  }

  .preview__uptitle {
    font-size: 23px;
  }

  .preview__title {
    font-size: 68px;
  }

  .preview__subtitle {
    font-size: 38px;
    margin-bottom: 25px;
  }

  .preview__divider {
    width: 80%;
  }

  .header__logo img {
    width: 71px;
    height: 71px;
  }

  .header__navLink {
    font-size: 14px;
  }

  .header__question {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__questionTell {
    display: none;
  }

  .btn {
    margin-left: 10px;
  }

  .btn-about {
    margin: 0 auto;
  }

  .btn-price {
    margin: 25px auto;
  }

  .btn-form {
    margin-left: 0;
  }

  .btn-questions {
    margin: 0 auto;
    margin-top: 16px;
  }

  .about__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
    padding: 0 40px;
  }

  .about__block {
    width: 35%;
    margin-bottom: 10px;
  }

  .advantages {
    padding: 40px 0 20px;
  }

  .work {
    padding: 40px 0;
  }

  .work__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .prices__order {
    padding: 68px 8% 53px;
  }

  .chart {
    padding-top: 33px;
  }

  .chart__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .chart__block {
    width: 40%;
  }

  .comment {
    padding: 25px 0 40px;
  }
}

@media (max-width: 991px) {
  .preview__uptitle {
    line-height: 24px;
    margin-bottom: 15px;
  }

  .preview__title {
    font-size: 57px;
    line-height: 57px;
    margin-bottom: 15px;
  }

  .preview__subtitle {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .preview__divider {
    margin-bottom: 20px;
  }

  .header__questionText {
    display: none;
  }

  .btn-header {
    display: none;
  }

  .work__block {
    margin-bottom: 30px;
  }

  .work__title {
    margin-top: 15px;
  }

  .prices__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 40px;
    padding: 0 60px;
  }

  .prices__block {
    width: 34%;
    margin-bottom: 20px;
  }

  .comment__slider-prev {
    top: 7%;
  }

  .comment__slider-next {
    top: 7%;
  }

  .questions__block {
    width: 90%;
  }

  .footer__title {
    display: none;
  }
}

@media (max-width: 768px) {
  .preview {
    min-height: 690px;
  }

  .preview__uptitle {
    font-size: 18px;
    line-height: 21px;
  }

  .preview__title {
    font-size: 41px;
    line-height: 43px;
  }

  .preview__subtitle {
    font-size: 23px;
    line-height: 25px;
  }

  .header {
    margin-bottom: 20px;
  }

  .header__logo img {
    width: 61px;
    height: 61px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__nav {
    position: absolute;
    z-index: 30;
    width: 50%;
    top: 0;
    left: -50%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .header__navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20% 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(150, 150, 150, 0.8);
  }

  .header__navItem {
    padding: 0;
    text-align: left;
    margin: 20px 40px;
  }

  .header__navItem::after {
    display: none;
  }

  .header__navLink {
    font-size: 18px;
  }

  .header__wrapper {
    display: none;
  }

  .btn {
    width: 70%;
  }

  .btn-form {
    width: 100%;
  }

  .about__wrapper {
    padding: 0;
    margin-bottom: 35px;
  }

  .about__block {
    width: 45%;
  }

  .about__img {
    margin-bottom: 10px;
  }

  .about__descr {
    font-size: 14px;
    text-align: left;
    padding-left: 40px;
  }

  .advantages__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .advantages__block {
    width: 75%;
  }

  .advantages__svg {
    width: 50px;
    height: 50px;
  }

  .title {
    font-size: 23px;
  }

  .divider {
    margin: 10px auto;
  }

  .subtitle {
    font-size: 17px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .agent {
    padding: 30px 0;
    min-height: 300px;
  }

  .agent__svg {
    width: 90px;
    height: 90px;
  }

  .agent__title {
    font-size: 23px;
  }

  .agent__descr {
    font-size: 17px;
  }

  .prices {
    padding: 30px 0 50px;
  }

  .prices__wrapper {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .prices__block {
    width: 50%;
  }

  .prices__orderSvg {
    width: 92px;
    height: 92px;
  }

  .prices__orderSvg svg {
    width: 45px;
    height: 45px;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__input {
    width: 90%;
    margin-bottom: 15px;
  }

  .form__text {
    width: 90%;
  }

  .form__wrapdiv {
    bottom: -13%;
    width: 70%;
  }

  .manager {
    padding: 30px 0;
  }

  .manager__svg {
    width: 92px;
    height: 92px;
  }

  .manager__title {
    font-size: 23px;
  }

  .manager__descr {
    font-size: 17px;
  }

  .comment__slider-prev {
    display: none;
  }

  .comment__slider-next {
    display: none;
  }

  .comment__slider-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .comment__slide {
    margin: 0 20px;
  }

  .comment__text {
    padding: 0 30px;
  }

  .comment__mobile-next {
    display: block;
  }

  .questions {
    padding: 40px 0;
  }

  .map__map {
    height: 350px;
  }

  .footer {
    min-height: 84px;
  }

  .footer__wrapper-up {
    display: none;
  }

  .footer__divider {
    display: none;
  }
}

@media (max-width: 575px) {
  .upLink {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
  }

  .preview {
    min-height: 400px;
    padding-bottom: 10px;
  }

  .preview__uptitle {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .preview__title {
    font-size: 32px;
    line-height: 38px;
  }

  .preview__subtitle {
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 15px;
  }

  .preview__divider-round {
    width: 6px;
    height: 6px;
  }

  .header {
    margin-bottom: 15px;
  }

  .header__nav {
    width: 100%;
    left: -100%;
  }

  .header__navList {
    background-color: #969696;
  }

  .btn-about {
    width: 70%;
    font-size: 14px;
    height: 47px;
    margin-bottom: 10px;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }

  .about__block {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
  }

  .about__img {
    display: none;
  }

  .about__descr:before {
    display: block;
  }

  .advantages {
    padding: 20px 0;
  }

  .advantages__block {
    width: 100%;
  }

  .advantages__img {
    display: none;
  }

  .advantages__title {
    text-align: center;
  }

  .advantages__descr {
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 18px;
    line-height: 21px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
  }

  .work {
    padding: 20px 0;
  }

  .work__block {
    width: 100%;
  }

  .work__img {
    min-height: 10px;
  }

  .agent {
    min-height: 100px;
    padding: 20px 0;
  }

  .agent__svg {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .agent__title {
    font-size: 19px;
    line-height: 21px;
  }

  .agent__descr {
    font-size: 14px;
    line-height: 23px;
  }

  .prices {
    padding: 20px 0 30px;
    min-height: 100px;
  }

  .prices__wrapper {
    margin-bottom: 20px;
  }

  .prices__block {
    width: 80%;
  }

  .prices__free {
    font-size: 21px;
    margin-bottom: 50px;
  }

  .prices__order {
    padding: 50px 8% 30px;
  }

  .prices__orderSvg {
    width: 82px;
    height: 82px;
  }

  .form__input {
    padding: 0 10px;
  }

  .form__text {
    padding: 10px;
  }

  .manager {
    padding: 20px 0;
    min-height: 100px;
  }

  .manager__svg {
    width: 82px;
    height: 82px;
    margin-bottom: 15px;
  }

  .manager__title {
    font-size: 19px;
  }

  .manager__descr {
    font-size: 14px;
  }

  .chart {
    min-height: 100px;
    padding: 20px 0;
  }

  .chart__title {
    font-size: 19px;
  }

  .chart__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .chart__block {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .comment {
    min-height: 100px;
    padding: 20px 0;
  }

  .comment__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .comment__mobile-next {
    -webkit-transform: scale(0.7) translateY(-50%);
        -ms-transform: scale(0.7) translateY(-50%);
            transform: scale(0.7) translateY(-50%);
    right: -70px;
  }

  .comment__mobile-next-rev {
    -webkit-transform: scale(0.7) rotate(180deg) translateY(-50%);
        -ms-transform: scale(0.7) rotate(180deg) translateY(-50%);
            transform: scale(0.7) rotate(180deg) translateY(-50%);
    top: -20%;
    left: -70px;
  }

  .questions {
    padding: 20px 0;
    min-height: 100px;
  }

  .questions__body {
    padding: 18px;
  }

  .map__map {
    display: none;
  }

  .footer {
    min-height: 50px;
    padding: 15px 0;
  }

  .footer__confid {
    text-align: right;
  }

  .footer__create {
    display: none;
  }
}

.webp .preview { background: url(../img/mainbg.webp) center center/cover no-repeat; }

.webp .agent { background: url(../img/agentbg.webp) center center/cover no-repeat; }

.webp .manager { background: url(../img/managerbg.webp) center center/cover no-repeat; }

.webp .questions { background: url(../img/questionsbg.webp) center center/cover no-repeat; }